<h1>Edit Individual</h1>
<%= form_for Individual.new do |f| %>
  <%= f.label 'first_name' %><br>
  <%= f.text_field :first_name %><br>

  <%= f.label 'last_name' %><br>
  <%= f.text_area :last_name %><br>

  <%= f.label 'age' %><br>
  <%= f.text_area :age %><br>

  <%= f.label 'hair_color' %><br>
  <%= f.text_area :hair_color %><br>

  <%= f.label 'eye_color' %><br>
  <%= f.text_area :eye_color %><br>

  <%= f.label 'gender' %><br>
  <%= f.text_area :gender %><br>

  <%= f.label 'alive' %><br>
  <%= f.text_area :alive %><br>
 
 
 
  <%= f.submit "Submit " %>
<% end %>























