<%= link_to 'Back', individuals_path %>

<h1><%= @individual.first_name %></h1><h1>
<%= @individual.last_name %></h1>
<h1><%= @individual.age %></h1>
<h1><%= @individual.hair_color %></h1>
<h1><%= @individual.eye_color %></h1>
<h1><%= @individual.gender %></h1>
<h1><%= @individual.alive %></h1>
<p><%= link_to "Edit", edit_individual_path(@individual) %></p>
<%= link_to 'Delete', 
             individual_path(individual_path), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' } %> 

                                   <!DOCTYPE html>
